/* Hero section Parent container */

.hero-container {
  gap: 10rem;
  background-image: url("../Assets/Images/Backgrounds/hero-bg.jpeg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 7rem;
}

.hero-container a {
  text-decoration: none;
  color: inherit;
}

/* Navbar */

.navbar {
  padding: 1rem 3rem;
  justify-content: space-between;
}

.navbar-logo {
  width: 3.5%;
}

.navbar-login {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  border-radius: 10px;
  color: #a8afbd;
  background-color: transparent;
  padding: 0.8rem;
  transition: 0.2s ease-in;
}

.navbar-login:hover {
  background-color: #323843;
  color: #ffffff;
}

/* Hero content container */

.hero-content-container {
  font-family: "Roboto", sans-serif;
  align-items: center;
  gap: 2rem;
}

/* Bundle styles */

.bundle-container {
  width: 90%;
  justify-content: center;
}

.bundle {
  width: 30%;
  align-items: center;
  gap: 1.3rem;
}

.bundle > span {
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  color: #00ed82;
  font-weight: 700;
}

.bundle > p {
  text-align: center;
  line-height: 1.2;
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
}

.bundle > button {
  cursor: pointer;
  width: 60%;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.7rem 0rem;
  background-color: #00ed82;
  font-weight: 700;
  transition: 0.2s ease-in;
}

.bundle > button:hover {
  opacity: 0.7;
}

.bundle > img {
  width: 51%;
}

.duo-bundle {
  margin-right: -5%;
}

.trio-bundle {
  margin-left: -5%;
}

.duo-bundle > img {
  width: 40%;
}

/* Signup styles */

.hero-signup-container {
  text-align: center;
  gap: 2rem;
  color: white;
  text-decoration: underline;
}

.hero-terms {
  color: inherit;
  font-size: 0.9rem;
}

/* Plan Subheader styles */

.CTA {
  background: linear-gradient(180deg, #29a869 0.66%, #16181d 99.34%);
  font-family: "Roboto", sans-serif;
  padding: 2rem;
  align-items: center;
  gap: 2rem;
}

.CTA > h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.CTA > button {
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.9rem 5rem;
  border: 2px solid white;
  background-color: transparent;
  letter-spacing: 0.1rem;
  border-radius: 3px;
  transition: 0.1s ease-out;
}

.CTA > button:hover {
  color: black;
  background-color: #a4b5ae;
  border-color: #a4b5ae;
}
