/* Importing Fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Universally applying font */

body {
  font-family: "Roboto", sans-serif;
}

/* CSS Color variables */

:root {
  --primary-green: #00ed82;
  --primary-white: #ffffff;
  --primary-grey: #fff;
  --primary-background: #0b0c0f;
  --hover-grey: grey;
  --footer-background: #e8eaed;
}

/* CSS Reset */

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Allow images to maintain aspect ratio when being resized */

img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

/* Reusable flexbox classes */

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* Universal button transitions */

button {
  transition: 0.1s ease-out;
}

/* Universal button hover effects */

button:hover {
  cursor: pointer;
}

/* stripping default anchor tag styles */

a {
  text-decoration: none;
  color: inherit;
}

/* Reusable Typography */

/* fineprint typography */

.fineprint {
  font-size: 0.6rem;
  color: hsla(0, 0%, 100%, 0.6);
}

.fineprint > a {
  text-decoration: underline;
}
